jasypt:
  encryptor:
  bean: jasyptStringEncryptor
  algorithm: PBEWithMD5AndDES
  iv-generator-classname: org.jasypt.iv.NoIvGenerator


jwt:
  secret: ENC(Dnx6poJjIvCsOvlcqX6y5jac3+/pn9YMFHxQMrRk9a35euxjTnHlyQ==)


aws:
  secret_access_key: ENC(QRvFDGafvFY64H1+elerssq3qvatte1PThBPyP4UbujdREl5CSkgZTo1rOlDbF0VO3F0fcoYnIo=)
  access_key_id: ENC(I/2IXlrLrjJKotBwsYLusiH3Xk0lr70RRoKA60CZfos=)

coolsms:
  access_key: ENC(9KgY1CFoD3euNIef/SM6Cd3/3lkokQRYQ1oSamoanZ8=)
  access_secret: ENC(Oz1vAW86gPVquEngwoPsXvWpxIX5WnHfNNO3zliq+4Apya+ZF7wbWVkJJCRcZyko)
  from_number: ENC(gV2R53B2oUznNqYvdGFFYMAM/9KjJvWM)
management:
  endpoint:
    env:
      show-values: WHEN_AUTHORIZED
      roles: ADMIN

  endpoints:
    web:
      exposure:
        include: "health,info,metrics,env"
      base-path: /api/actuator

spring:
  data:
    mongodb:
      authentication-database: admin
    jdbc:
      repositories:
        enabled: false
  jpa:
    open-in-view: false



